html,
body {
    height: 100%;
    background-color: #181a1b;
    /* To disable Safari elastic scrolling */
    overflow: hidden;
    margin: 0;
}

body {
    padding: 10px 5%;
    display: flex;

    justify-content: center;

    align-items: center;
    background-color: #181a1b;
}

.main-container {
    text-align: center;
}

.settings-title {
    padding-bottom: 5%;
}

.info-title {
    padding-top: 10% ;
    padding-bottom: 5%;
}

.side-data {
    margin-left: 40px;
}

.title {
    padding-bottom: 20px;
}

.advantage-text {
    padding-top: 20px;
    padding-bottom: 10px;
}

.progress {
    margin: 0 10% 40px 10%;
}
